.div1{
    margin-left: 0.5px;
}

.div2{
    justify-content: center;
    align-items: center;
}

/* img{
    width: 80%;
    height:70%;
} */

.Products{
    justify-content: center;
}
ul li{
    list-style: none;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
    /* width: 700px; */
}
img{
    
    margin-left: 7vw;
    margin-right: 10vw;
}
ul{
    border: 2px solid black;
}
h1{
    text-align: center;
    font-weight: bolder;
    background-color: rgb(223, 238, 148);
}
h2{
    background-color: rgb(164, 189, 189);
}
.btnn{
    /* justify-content: center; */
    text-align: center;
}